.blockx{
  margin-top: 200px;
}

.col-lg-6 {
  width: 300px;
  margin-bottom: 1em;
  display: block;
  font-size: inherit;
  line-height: inherit;
  padding: 3px;
  color: white;
}

.bur img {
  margin-right: 60px;
    transition: all 0.8s ease 0s;
}

/* Social media photos */
.social_title{
  width: 100%;

  text-align: center;
  font-size: 40px;
  font-weight: 700;

  margin-top: 50px;
  margin-bottom: 50px;
}

.social_item{
  text-align: center;
  width: 100%;

  margin-bottom: 100px;
}

.social_item img{
  height: 450px;
  width: 300px;

  border-radius: 20px;
}

/* Footer */
footer{
  margin-top: 10px;
  padding-top: 40px;
  background: #000000 ;
}

.footer_item img{
  display: inline-block;
  width: 50%;
  margin-top: auto;
}

.footer_item{
  font-family: 'Bebas Neue', cursive;
  font-size: 23px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
}

.win {
  background: url(https://wallpaperaccess.com/full/1337871.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.about{
  width: 100%;

  text-align: center;
  font-size: 40px;
  font-weight: 700;

  margin-top: 50px;
  margin-bottom: 10px;
}

.pr {
  margin: auto;
  width: 700px;
  text-align: center;
  font-size: small;
}